<%- include('header'); -%>
<br>
<div class="container">
    <div class="jumbotron">

        <h1>Thank you for Posting</h1>
        <p>Your post has been uploaded successfully</p>
        <hr>


        <p>Return to <a href="/">home</a></p>




    </div>
</div>


<%- include('footer'); -%>